


<div class="row int-card">
    <div class="col-md-12">
        <h2>Students requiring your tutoring</h2>
        <div id="students-table"></div>
    </div>
</div>

<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script src="./js/students.js"></script>